/* General Styling */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#home {
    background: url('anonymous-anonymous-8779357_1280.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

.navbar {
    margin-top: 20px; /* Space between title and navbar */
}

.nav-link {
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #1E90FF;
}

.display-4 {
    font-weight: bold;
    font-size: 3.5rem;
    text-transform: uppercase;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.fa {
    transition: color 0.3s;
}

.fa:hover {
    color: #1E90FF;
}

.btn-primary {
    background-color: #1E90FF;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #00BFFF;
}

/* For Responsiveness */
@media (max-width: 768px) {
    .display-4 {
        font-size: 2.5rem;
    }

    .lead {
        font-size: 1.2rem;
    }

    .fa {
        font-size: 1.5rem;
    }

    .btn-primary {
        font-size: 1rem;
    }
}
